@font-face {
    font-family: "Pixel";
    src: url('../../../fonts/ARCADECLASSIC.TTF');
    font-display: swap;
}
@font-face {
    font-family: "Poppins";
    src: url('../../../fonts/Poppins/Poppins-Regular.ttf');
    font-display: swap;
}
@font-face {
    font-family: "Poppins Bold";
    src: url('../../../fonts/Poppins/Poppins-Bold.ttf');
    font-display: swap;
}
@font-face {
    font-family: "Poppins Italic";
    src: url('../../../fonts/Poppins/Poppins-Italic.ttf');
    font-display: swap;
}

h1 {
    font-family: $font-001;
    font-size: $font-xxxl;
    color: $white;
    text-align: center;

    @include min($lg) {
        font-size: $font-xxxxl;
    }
}

.date {
    font-family: $font-002;
    margin-bottom: 10px;
}

.text--default {
    font-family: $font-002;
    color: $white;
    font-size: $font-xl;
    text-align: center;
    line-height: 1.5;
}