.giveaways-list {
    width: 100%;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    padding: 50px 0;
    justify-content: center;
    @include min($lg) {
        gap: 50px;
    }
}

.giveaways {
    max-width: 90%;
}