nav {
    height: 100%;
    width: 225px;
    margin-bottom: 50px;

    @include min($lg) {
        margin-bottom: 0;
    }

    .nav-container {
        @include min($lg) {
            position: fixed;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    .social-medias {
        display: flex;
        justify-content: space-around;
        gap: 10px;
        margin-top: 20px;

        a:hover {
            svg * {
                fill: $color-006;
            }
        }

        svg {
            width: 40px;
            height: 40px;

            * {
                transition: all 0.3s ease-in-out;
            }
        }
    }

    img {
        width: 100px;
    }

    li {
        border: 1px solid $white;
        border-radius: 10px;
        overflow: hidden;
        position: relative;
        cursor: pointer;
        margin-bottom: -1px;

        @include min($lg) {
            border-radius: 0 10px 10px 0;
        }

        &::before {
            content: '';
            position: absolute;
            left: -100%;
            bottom: 0;
            background-color: $color-004;
            height: 100%;
            width: 100%;
            transform: translateX(0);
            transition: transform 0.3s ease-in-out;
            z-index: -1;
        }

        &:hover {
            &::before {
                transform: translateX(100%);
            }

            a {
                color: $color-006;
            }
        }

        &:has(img) {
            border: none;
            padding: 0;

            &::before {
                display: none;
            }
        }

        &:nth-child(1) {
            a {
                display: flex;
                justify-content: center;
                padding: 0;

                @include min($lg) {
                    padding-left: 0;
                    padding-bottom: 0;
                    justify-content: flex-start;
                }
            }
        }

        a {
            padding: 20px 50px 20px 20px;
        }
    }

    a {
        font-family: $font-001;
        font-size: $font-xxl;
        display: flex;
        align-items: center;
        gap: 10px;
        color: $white;
        transition: color 0.3s ease-in-out;
        justify-content: center;

        @include min($lg) {
            justify-content: flex-start;
        }

        svg {
            width: 20px;
            height: 20px;
        }
    }
}